@model inmobiliariaPestchanker.Models.Usuario

@{
    ViewData["Title"] = "Editar";
    var Rol = (IList<Rol>)ViewBag.Rol;
    var MiRol = ViewBag.Admin;    
    
   

}



<h1>Editar Usuario</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dni" class="control-label"></label>
                <input asp-for="Dni" class="form-control" />
                <span asp-validation-for="Dni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
               
                <input asp-for="Clave" class="form-control" type="hidden"/>
                <span asp-validation-for="Clave" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Avatar" class="control-label"></label>
                 <label asp-for="AvatarFile" class="control-label"></label>
                <input type="file" name="AvatarFile"/>
                <span asp-validation-for="AvatarFile" class="text-danger"></span>
                
 
                    <img width="32" src="@Model.Avatar"/>
 
                <input asp-for="Avatar" class="form-control" type="hidden"/>
                <span asp-validation-for="Avatar" class="text-danger"></span>
            </div>

            @if (MiRol=="Administrador"){
            <div class="form-group">
                <label class="control-label">Rol</label>
                    <select class="form-control" name="IdRol">
                        @foreach (var item in Rol)
                            {
                        @:<option @(item.Id == Model.IdRol ? "selected" : "") value="@item.Id"> @(item.Descripcion)</option>
                            }
                    </select>
                <span asp-validation-for="IdRol" class="text-danger"></span>
            </div>
            }else{
                 <div class="form-group">
                <label class="control-label">Rol</label>
                    <select class="form-control" name="IdRol">
                        @foreach (var item in Rol)
                            {
                                if (item.Descripcion=="Empleado"){
                        @:<option @(item.Id == Model.IdRol ? "selected" : "") value="@item.Id"> @(item.Descripcion)</option>
                            }
                            }
                    </select>
                <span asp-validation-for="IdRol" class="text-danger"></span>
            </div>
         
           
           
           
           
            }

            <div class="form-group">
                <input type="submit" value="Registrar" class="btn btn-primary" />
            </div>
        </form>
    </div>



</div>

<div>
         @Html.ActionLink("Cambio de Clave", "Edit", "Clave", new { id=Model.Id } )
    
    <br>

    <a asp-action="Index">Volver a Listado de Usuarios</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
