@model inmobiliariaPestchanker.Models.Contrato

@{
    ViewData["Title"] = "Editar";
    var inmuebles = (IList<Inmueble>)ViewBag.Inmueble;
    var inquilinos = (IList<Inquilino>)ViewBag.Inquilino;
}

<h1>Editar</h1>

<h4>Contrato</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              <div class="form-group">
                <label class="control-label">Dirección</label>
                    <select class="form-control" name="IdInmueble">
                        @foreach (var item in inmuebles)
                            {
                        @:<option @(item.Id == Model.IdInmueble ? "selected" : "") value="@item.Id"> @(item.Direccion)</option>
                            }
                    </select>
                <span asp-validation-for="IdInmueble" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label class="control-label">Inquilino</label>
                    <select class="form-control" name="IdInquilino">
                        @foreach (var item in inquilinos)
                            {
                        @:<option @(item.Id == Model.IdInquilino ? "selected" : "") value="@item.Id"> @(item.Apellido + ", " + item.Nombre)</option>
                            }
                    </select>
                <span asp-validation-for="IdInquilino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label"></label>
                <input asp-for="FechaInicio" class="form-control" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFin" class="control-label"></label>
                <input asp-for="FechaFin" class="form-control" />
                <span asp-validation-for="FechaFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Registrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a lista de Contratos</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
