@model inmobiliariaPestchanker.Models.Inmueble

@{
    ViewData["Title"] = "Delete";
     var tipoinmueble = (TipoInmueble)ViewBag.TipoInmueble;
}

<h1>Borrar</h1>

<h3>Está seguro de querer borrar el siguiente inmueble?</h3>
<div>
    <h4>Inmueble</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Código
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            Propietario
        </dt>
        <dd class = "col-sm-10">
            @(Model.Duenio.Apellido + ", " + Model.Duenio.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoordenadaN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoordenadaN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoordenadaE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoordenadaE)
        </dd>
        <dt class = "col-sm-2">
            Tipo de Inmueble
        </dt>
        <dd class = "col-sm-10">
            @(tipoinmueble.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoUso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoUso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadAmbientes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadAmbientes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioInmueble)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioInmueble)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disponible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disponible)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver al listado de inmuebles</a>
    </form>
</div>
